{% extends "base.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="text-success">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}


    <div class="row">
        <div class="col-sm-12">
            <h1>Current Posts<a style="float:right" class="btn btn-lg btn-primary center-block" data-toggle="modal" data-target="#postModal"> Post </a></h1>
			<div class="row postHeader" style="font-weight:bold;font-size:120%">
				<div class="col-sm-9">
					Title/Description
				</div>
				<div class="col-sm-2" style="text-align:center">
					Date Created
				</div>
				<div class="col-sm-1" style="text-align:center">
					Comments
				</div>
			</div>
            {{Posts|safe}}
        </div>
    </div>


    <!-- Post Modal -->
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('post_create.create') }}">
                        <div class="form-group">
                            <label for="summary" class="control-label">Title:</label>
                                <input type="text" class="form-control" pattern="[\w]{3,}" required id="summary"
                                       maxlength="20" name="_summary" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label">Description:</label>
                            <textarea rows="6" class="form-control" id="description" required
                                          name="_description" placeholder="Description"></textarea>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
