<div class="row table_row" style="padding:2px;margin:2px;">
	<div class="col-sm-3">
		"{}" by <a href="{}">{}</a><!-- "Comment" by "username"-->
	</div>
	<div class="col-sm-2">
		<a href="{}">{}</a><!--Post Info -->
	</div>
	<div class="col-sm-2">
		{}<!-- Date Reported-->
	</div>
	<div class="col-sm-2">
		{}<!-- Report Notes-->
	</div>
	<div class="col-sm-1">
		<a href="{}">{}</a><!-- Reported by-->
	</div>
	<div class="col-sm-2">
		<span style="display:{}"><a href="{}" alt="Delete Comment/Post">Delete</a><!--Delete Comment/Post--></span>
		<span style="display:{}"><label>{}</label><a href="{}" alt="Ban Creator of this Comment/Post">Ban User</a><!--Ban User--></span>
		<span style="display:{}">|&nbsp;<a href="{}" alt="Ban Commenter/Poster and Delete their comment/post">Both</a></span><!--Both-->
		&nbsp;&nbsp;<a href="{}"><img class=""
                 src="/static/imgs/redXSmall.png"
				 height="13" width="13" alt="{}"></a><!--Hide/Unhide Report-->
	</div>
</div>