{% extends "base.html" %}
{% block content %}
<br>
<form id="login_form" class="form-horizontal" action="" method="">
  <div class="form-group form-group-small">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="col-sm-offset-4 col-sm-10">
            <p class="text-danger">{{ messages[0] }}</p>
        </div>
      {% endif %}
    {% endwith %}
  </div>
  <div class="row post">
		<div class="col-sm-12" style="font-size:larger; font-weight:bold;border-bottom:1px solid black;margin-top:3px;margin-bottom:3px">
			Users
		</div>
		<div class="col-sm-12" style="margin-top:3px">
			{{user_list|safe}}
		</div>
	</div>
</form>
{% endblock %}

