/*put all css here*/

.post {
	background-color: #f0f0f5;
	margin-bottom:5px;
}
.post-title{
	margin-top: 12px;
	margin-left: 6px;
}

.post-content {
	margin-left: 6px;
	margin-top:3px;
	font-size:120%;
}

.comment {
	margin-left: 6px;
	margin-bottom: 12px;
	padding-top: 4px;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', arial;
    font-size: 38px;
    font-weight: 400;
    margin-top: 27px;
    margin-bottom: 50px
}

.table_header  > div{
	border:1px solid black;
	font-weight:bold;
	text-align:left;
	padding-left:1px;
}

.table_row  > div{
	text-align:left;
	padding-left:1px;
}

.table_row{
	border-bottom:1px solid gray;
	padding:2px;
	margin:2px;
	border:1px solid gray;
}

.table_header{
	padding:2px;
	margin:2px;
}

/*.comment-child {*/
	/*display: none;*/
/*}*/

/*.comment{*/
	/*border: 3px solid lightblue;*/
	/*border-radius: 3px;*/
	/*padding-bottom: 10px;*/
/*}*/

/*.commentHeader{*/
	/*border-bottom: 2px solid lightblue;*/
	/*margin-right: 0px;*/
	/*margin-left: 0px;*/
	/*}*/
/*.commentContent{*/
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	/*margin-right: 0px;*/
	/*margin-left: 0px;*/
	/*}*/
/*.commentContainer{*/
/*margin-right: 0px;*/
/*margin-left: 0px;*/
/*}*/

/*.comment-button{*/
	/*border-radius: 2px;*/
/*}*/